<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472268598178-km2fpov2du7as7ft7god6863ed6e0e2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472268598178-km2fpov2du7as7ft7god6863ed6e0e2b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472268598178-2i3g2nj6gkqj9bvf8dct4tg5qtd078tf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWVRxu_ZMAnT5vo2eMLD_xcfob8fAMo98</string>
	<key>GCM_SENDER_ID</key>
	<string>472268598178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sam.kanbanBoard</string>
	<key>PROJECT_ID</key>
	<string>kanbanboard-5c7a6</string>
	<key>STORAGE_BUCKET</key>
	<string>kanbanboard-5c7a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472268598178:ios:3499361b17f846176ce0fb</string>
</dict>
</plist>